.button {
    -fx-background-color:#595959;
    -fx-background-radius: 0,0,0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    /*-fx-font-size: 14px;*/
}

.button:focused {
    -fx-border-color: #fff15f;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
}

.button:hover {
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #595959;
}

.button:pressed {

}