.button {
    -fx-background-color:#32504e;
    -fx-background-radius: 0,0,0;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    /*-fx-font-size: 14px;*/
}

.button:focused, #EQUALS:focused {
    -fx-border-color: #fff15f;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
}

.button:hover, #EQUALS:hover {
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #595959;
}

.button:pressed, #EQUALS:pressed {

}

#EQUALS {
    -fx-background-color:#006d68;
}